---
const { href, imageSrc, title, body } = Astro.props;
---

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={imageSrc} class="img-fluid rounded-start" alt={title}>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{title}</h5>
        <p class="card-text">{body}</p>
        <a href={href} class="btn btn-lg btn-primary">Open</a>
      </div>
    </div>
  </div>
</div>
